<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key><string>app-store</string>
    <key>teamID</key><string>S45CCRJ5NS</string>
    <key>uploadSymbols</key><true/>
    <key>signingCertificate</key><string>Apple Distribution</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.moxxxskaifa.PomodoroFocusPro</key>
        <string>AllApps_AppStore_Distribution</string>
    </dict>
</dict>
</plist>
